[Unit]
Description=Daily User RPM OSTree Security Advisory Notifier Prompt

[Timer]
OnBootSec=15min
OnUnitActiveSec=6h

[Install]
WantedBy=timers.target